.admin-dashboard {
  /* background: #f8fafc; */
  padding: 20px;
}

/* HEADER */
.dashboard-header h2 {
  font-weight: 700;
}

.dashboard-header p {
  color: #64748b;
}

/* SECTION */
.section-title {
  margin: 25px 0 12px;
  font-weight: 700;
  font-size: larger;
}

/* GRID */
.grid-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 992px) {
  .grid-layout {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .grid-layout {
    grid-template-columns: 1fr;
  }
}

/* STATS */
.stats-row {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.stat-card {
  flex: 1;
  background: linear-gradient(135deg, #ffffff, #f1f5f9);
  border-radius: 16px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 6px 20px rgba(0,0,0,0.04);
}

/* CHART LAYOUT */
.charts-row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .charts-row {
    grid-template-columns: 1fr;
  }
}

/* CHART CARD */
.chart-card {
  background: #ffffff;
  border-radius: 18px;
  padding: 20px;
  border: 1px solid #f1f5f9;
  box-shadow: 0 8px 25px rgba(0,0,0,0.04);
  transition: 0.3s ease;
}

.chart-card:hover {
  transform: translateY(-3px);
}

/* TITLE */
.chart-title {
  font-weight: 600;
  margin-bottom: 10px;
}

/* LEGEND FIX */
.recharts-legend-item text {
  fill: #475569 !important;
  font-size: 13px;
}

/* CHART BACKGROUND */
.recharts-wrapper {
  background: #fafafa;
  border-radius: 12px;
  padding: 10px;
}